<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type"
          content="text/html; charset=UTF-8">

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />


    <title>{{ handler.title().title() if handler.title().lower() != "index" else "CJR" }}</title>

    <script src="{{ static_url( 'dist/index.js' ) }}"></script>

</head>
