@import "scss/root"; // .contact {
//     // background-image: linear-gradient(theme-color("bg-light"), theme-color("medium"));
//     background-color: theme-color("medium");
//     // background-color: darken(theme-color("primary"), 10%);
//     // background-color: lighten(theme-color("primary"), 5%);
//     color           : theme-color("dark");
//     // color           : theme-color("light");
//     padding         : 2rem 0 1rem;
//     // border-style    : solid none none none;
//     // border-color    : theme-color("footer-border");
//     flex-direction  : column;
// }
$transition_time_color: 0.5s;

.expand {
    display  : flex;
    flex-grow: 1;
}

main {
    // background-color: theme-color("light");
    // border-radius   : 1rem;
    margin         : 0;
    // display       : flex;
    // flex-direction: column;
    // flex-grow     : 1;
    // align-items   : center;
    align-content  : center;
    justify-content: center;
    @media (min-width: 576px) {
        margin: 0 2rem;
    }

    .inner {
        display       : flex;
        // flex          : 0 1;
        flex-grow     : 1;
        flex-direction: row;
        padding       : 5rem;
    }
}

.me-portrait {
    $image-size    : 200px;
    max-width      : 15rem;
    max-height     : 15rem;
    border-radius  : 50%;
    object-fit     : cover;
    object-position: 100% 0;
    width          : $image-size;
    height         : $image-size;
    min-width      : $image-size;
    min-height     : $image-size;
    border         : solid theme-color("primary");
    // padding        : 0.25rem;
    margin         : 1rem;
    transition     : $transition_time_color;

    &:hover {
        border: solid theme-color("secondary");

        .me-objective-keyword {
            color: theme-color("secondary");
        }
    }
}

.me-objective {
    em {
        transition: $transition_time_color;
        color     : inherit;
    }
    align-self: center;
}

.me {
    justify-content: center;

    &:hover {
        .me-portrait {
            border: solid theme-color("secondary");
        }

        .me-objective em {
            color: theme-color("secondary") !important;
        }
    }
}

.card-img-top {
    // border    : solid transparent;
    // padding     : 2rem 2rem 0;
    // padding   : 25%;
    padding   : 20% 20% 10%;
    // max-width : 15rem;
    // max-height: 8rem;
    align-self: center;
    // max-height: 3rem;
    // border      : 0.1rem;
    // border-style: solid;
    // border-color: theme-color("medium");
}

.card-img-side {
    // border    : solid transparent;
    // padding     : 2rem 2rem 0;
    // padding   : 25%;
    // padding   : 20% 20% 10%;
    max-width : 5rem;
    max-height: 5rem;
    align-self: center;
    // max-height: 3rem;
    // border      : 0.1rem;
    // border-style: solid;
    // border-color: theme-color("medium");
}

.card {
    // background-color: theme-color("bg-light");
    // width: 18rem;
    margin-bottom: 2rem;
}

.static-tr {
    position: fixed;
    right   : 0.5rem;
    top     : 0.5rem;
}

.sister-col {
    max-height: 75vh;
}

.email-header {
    padding        : 1rem;
    // max-width      : 30rem;
    // width          : 80%;
    @media (min-width: 576px) {
        width: 50%;
    }
    // width          : 40rem;
    border-radius  : 2rem;
    height         : 4rem;
    max-height     : 4rem;
    margin         : 1rem 0;
    text-align     : center;
    display        : flex;
    flex-direction : row;
    flex-grow      : 1;
    // flex-shrink    : 0;
    align-content  : center;
    transition     : $transition_time_color;
    justify-content: center;
    align-self     : center;
    border         : 0.1rem;
    border-color   : theme-color("primary");
    border-style   : solid;

    &:hover {
        // transition      : $transition_time_color;
        background-color: theme-color("secondary");
        border-color    : theme-color("secondary") !important;
        border          : 1rem;
        border-style    : solid;
        // width           : 30rem;
        // width           : 70%;
        @media (min-width: 576px) {
            width: 40%;
        }

        .name {
            // color: lightskyblue;
            color     : lighten(theme-color("secondary"), 50%);
            transition: 0.1s !important;
        }

        .name-around {
            // transition: $transition_time_color;
            // color: lightskyblue;
            color: lighten(theme-color("secondary"), 25%);
        }
    }
}

.email {
    align-self: center;
    text-align: center;
    // transition: $transition_time_color;
    // background-color: white;
    .name {
        // color      : theme-color("splash-text");
        // text-shadow: none;
        // transition : text-shadow 0.3s;
        // transition: 1s;
        transition: 0.1s !important;
    }

    .name-around {
        color: theme-color("dark");
    }
}

.made-with {
    // background-color: theme-color("medium-light");
    background-color: darken(theme-color("bg-light"), 10%);
    // background-color: darken(theme-color("primary"), 10%);
    // background-color: lighten(theme-color("primary"), 5%);
    color           : theme-color("dark");
    // color           : theme-color("light");
    // border-style    : solid none none none;
    // border-color    : theme-color("footer-border");
    flex-direction  : column;
    // border-radius: 1.5rem;
    // box-shadow   : inset 0 0 1rem darken(theme-color("footer"), 15%);
    // background-color: darken(theme-color("footer"), 10%);
    padding         : 1.5rem 0;
    text-align      : center;
    transition      : $transition_time_color;

    .text-primary {
        transition: $transition_time_color;
    }

    &:hover {
        .text-primary {
            color: theme-color("secondary") !important;
        }
    }
}
// .card {
//     background-color: theme-color("bg-light");
// }

.links {
    // background-color: theme-color("medium-light");
    // padding       : 2rem;
    display       : flex;
    flex-direction: column;
    flex-shrink   : 1;
    z-index       : 1000;
    transition    : $transition_time_color;

    &:hover {
        .link {
            color: theme-color("secondary");
        }
    }

    .link {
        padding   : 0.5rem;
        font-size : 1.5rem;
        align-self: center;
        transition: $transition_time_color;

        &:hover {
            color: lighten($color: theme-color("secondary"), $amount: 15%) !important;
        }
    }
}

.btn {
    border-bottom: 1rem !important;
    // border-color : darken(theme-color("primary"), 10%);
    .active {
        border-bottom: 0;
        border-top   : 1rem;
    }
}