@import 'scss/root';
$transition_time_color: 0.5s;

.expand {
    display  : flex;
    flex-grow: 1;
}

main {
    // display       : flex;
    // flex-direction: column;
    // flex-grow     : 1;
    // align-items   : center;
    align-content  : center;
    justify-content: center;
    // background-color: theme-color("light");
    // border-radius   : 1rem;
    margin         : 0;
    @media (min-width: 576px) {
        margin: 0 2rem;
    }

    .inner {
        display       : flex;
        flex-direction: row;
        // flex          : 0 1;
        flex-grow     : 1;
        padding       : 5rem;
    }
}

.me-portrait {
    width          : $image-size;
    min-width      : $image-size;
    max-width      : 15rem;
    height         : $image-size;
    min-height     : $image-size;
    max-height     : 15rem;
    // padding        : 0.25rem;
    margin         : 1rem;
    transition     : $transition_time_color;
    border         : solid theme-color('primary');
    border-radius  : 50%;
    $image-size    : 200px;
    object-fit     : cover;
    object-position: 100% 0;

    &:hover {
        border: solid theme-color('secondary');

        .me-objective-keyword {
            color: theme-color('secondary');
        }
    }
}

.me-objective {
    align-self: center;

    em {
        transition: $transition_time_color;
        color     : inherit;
    }
}

.me {
    justify-content: center;

    &:hover {
        .me-portrait {
            border: solid theme-color('secondary');
        }

        .me-objective em {
            color: theme-color('secondary') !important;
        }
    }
}

.card-img-top {
    // max-width : 15rem;
    // max-height: 8rem;
    align-self: center;
    // border    : solid transparent;
    // padding     : 2rem 2rem 0;
    // padding   : 25%;
    padding   : 20% 20% 10%;
    // max-height: 3rem;
    // border      : 0.1rem;
    // border-style: solid;
    // border-color: theme-color("medium");
}

.card-img-side {
    align-self: center;
    // border    : solid transparent;
    // padding     : 2rem 2rem 0;
    // padding   : 25%;
    // padding   : 20% 20% 10%;
    max-width : 5rem;
    max-height: 5rem;
    // max-height: 3rem;
    // border      : 0.1rem;
    // border-style: solid;
    // border-color: theme-color("medium");
}

.card {
    // background-color: theme-color("bg-light");
    // width: 18rem;
    margin-bottom: 2rem;
}

.static-tr {
    position: fixed;
    top     : 0.5rem;
    right   : 0.5rem;
}

.sister-col {
    max-height: 75vh;
}

.email-header {
    display        : flex;
    // flex-shrink    : 0;
    align-content  : center;
    align-self     : center;
    flex-direction : row;
    flex-grow      : 1;
    justify-content: center;
    height         : 4rem;
    max-height     : 4rem;
    margin         : 1rem 0;
    padding        : 1rem;
    transition     : $transition_time_color;
    text-align     : center;
    border         : 0.1rem;
    border-style   : solid;
    border-color   : theme-color('primary');
    // width          : 40rem;
    border-radius  : 2rem;
    // max-width      : 30rem;
    // width          : 80%;
    @media (min-width: 576px) {
        width: 50%;
    }

    &:hover {
        border          : 1rem;
        border-style    : solid;
        border-color    : theme-color('secondary') !important;
        // transition      : $transition_time_color;
        background-color: theme-color('secondary');
        // width           : 30rem;
        // width           : 70%;
        // @media (min-width: 576px) {
        //     width: 40%;
        // }
        .name {
            transition: 0.1s !important;
            // color: lightskyblue;
            color     : lighten(theme-color('secondary'), 50%);
        }

        .name-around {
            // transition: $transition_time_color;
            // color: lightskyblue;
            color: lighten(theme-color('secondary'), 25%);
        }
    }
}

.email {
    align-self: center;
    text-align: center;
    // transition: $transition_time_color;
    // background-color: white;
    .name {
        // color      : theme-color("splash-text");
        // text-shadow: none;
        // transition : text-shadow 0.3s;
        // transition: 1s;
        transition: 0.1s !important;
    }

    .name-around {
        color: theme-color('dark');
    }
}

.made-with {
    // color           : theme-color("light");
    // border-style    : solid none none none;
    // border-color    : theme-color("footer-border");
    flex-direction  : column;
    // border-radius: 1.5rem;
    // box-shadow   : inset 0 0 1rem darken(theme-color("footer"), 15%);
    // background-color: darken(theme-color("footer"), 10%);
    padding         : 1.5rem 0;
    transition      : $transition_time_color;
    text-align      : center;
    // background-color: darken(theme-color("primary"), 10%);
    // background-color: lighten(theme-color("primary"), 5%);
    color           : theme-color('dark');
    // background-color: theme-color("medium-light");
    background-color: darken(theme-color('bg-light'), 10%);

    .text-primary {
        transition: $transition_time_color;
    }

    &:hover {
        .text-primary {
            color: theme-color('secondary') !important;
        }
    }
}
// .card {
//     background-color: theme-color("bg-light");
// }

.links {
    z-index       : 1000;
    // background-color: theme-color("medium-light");
    // padding       : 2rem;
    display       : flex;
    flex-direction: column;
    flex-shrink   : 1;
    transition    : $transition_time_color;

    &:hover {
        .link {
            color: mix(theme-color('secondary'), theme-color('primary'));
        }
    }

    .link {
        font-size : $size;
        //
        padding   : 0.5rem;
        transition: $transition_time_color;
        // text-decoration: none;
        text-align: center;
        $size     : 1.5rem;
        // width     : $size !important;
        // height    : $size !important;
        // border-color   : transparent;
        // border-style   : solid;
        // border-radius  : 50%;
        &:hover {
            // Following only applies for single link that mouse is hovering over
            color: theme-color('secondary') !important;
        }
    }
}

.btn {
    border-bottom: 1rem !important;
    // border-color : darken(theme-color("primary"), 10%);
    .active {
        border-top   : 1rem;
        border-bottom: 0;
    }
}

.skill {
    min-height      : 4rem;
    margin-top      : 0;
    padding         : 1rem !important;
    transition      : $transition_time_color;
    border-top-width: 1px;
    border-radius   : 0.25rem;

    .row {
        min-height: 3rem;
    }

    &.hoverable {
        border-right-color: theme-color('primary') !important;

        &.hover,
        &:hover {
            // padding-right: $padding_right + ($border_thickness_right);
            // border-right : solid $border_thickness_right*2 theme-color("secondary") !important;
            // z-index     : inherit + 5;
            // border-right-width: medium !important;
            z-index         : inherit + 100;
            margin-top      : -1px;
            border-color    : theme-color('secondary') !important;
            border-top-width: 1px !important;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.stars {
    text-align      : center;
    writing-mode    : vertical-rl;
    text-orientation: mixed;
}

.center-vertical {
    position : absolute;
    top      : 50%;
    margin   : 0;
    // left     : 50%;
    transform: translate(0, -50%);
}