@import url("//fonts.googleapis.com/css?family=Open+Sans");
@import url("//fonts.googleapis.com/css?family=Roboto");
@import url("//fonts.googleapis.com/css?family=Ubuntu");
@import url("//fonts.googleapis.com/css?family=Ubuntu+Mono");

@font-face {
    font-family: 'FontAwesomeBrands';
    src: url('~@fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf');
}

@font-face {
    font-family: 'FontAwesomeRegular';
    src: url('~@fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf');
}

@font-face {
    font-family: 'FontAwesomeSolid';
    src: url('~@fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf');
}
