@font-face {
    font-family: 'ProFontWindows';
    src        : url('/static/fonts/ProFontWindows.TTF');
}
@font-face {
    font-family: 'Roboto';
    src        : url('/static/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src        : url('/static/fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'FontAwesomeBrands';
    src        : url('~@fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf');
}
@font-face {
    font-family: 'FontAwesomeRegular';
    src        : url('~@fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf');
}
@font-face {
    font-family: 'FontAwesomeSolid';
    src        : url('~@fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf');
}