.center-vertical {
    position : absolute;
    top      : 50%;
    margin   : 0;
    // left     : 50%;
    transform: translate(0, -50%);
}

.static-tr {
    position: fixed;
    top     : 0.5rem;
    right   : 0.5rem;
}

.sister-row {
    // max-height    : 20vh;
    // display       : flex;
    // flex-direction: row;
    // overflow-x    : auto;
    // white-space   : nowrap;
    // flex-wrap     : nowrap;
    //
    // .card {
    //     display: inline-block;
    //     float  : none;
    // }
}

.scrolling-wrapper-flexbox {
    display   : flex;
    flex-flow : row nowrap !important;
    overflow-x: scroll !important;

    .card {
        // display       : flex;
        // flex-direction: row;
        // flex          : 1 1 auto;
        min-width: 20rem;
    }
    // .card-deck {
    //     max-height    : 50vh;
    //     display       : flex;
    //     flex-direction: row;
    //     flex-wrap     : nowrap;
    //     flex          : 1 1 auto;
    //     overflow-x    : auto;
    //
    //     .card {
    //         display       : flex;
    //         flex-direction: row;
    //         flex          : 1 1 auto;
    //     }
    // }
    //
    // .card {
    //     // flex: 0 0 auto;
    // }
}