@import "../constants.scss";

.me-portrait {
    width          : $image-size;
    min-width      : $image-size;
    max-width      : 15rem;
    height         : $image-size;
    min-height     : $image-size;
    max-height     : 15rem;
    // padding        : 0.25rem;
    margin         : 1rem;
    transition     : $transition_time_color;
    border         : solid map-get($theme-colors, "primary");
    border-radius  : 50%;
    object-fit     : cover;
    object-position: 100% 0;

    &:hover {
        border: solid map-get($theme-colors, "secondary");

        .me-objective-keyword {
            color: map-get($theme-colors, "secondary");
        }
    }
}

.me-objective {
    align-self: center;

    em {
        transition: $transition_time_color;
        color     : inherit;
    }

    p {
        margin : 0;
        padding: 0.5rem 0;
    }
}

.me {
    justify-content: center;

    &:hover {
        .me-portrait {
            border: solid map-get($theme-colors, "secondary");
        }

        .me-objective em {
            color: map-get($theme-colors, "secondary") !important;
        }
    }
}