<html>

{% module UI_Head() %}

{% import personal.web %}
{% import personal.web.handlers as WH %}

<body>
    {# {% module UI_Navbar() %} #}
    <div class="body"
         id="app">
        <header class="splash center-items">
            <div class="iniitals">
                CJR
            </div>
            <a href="mailto:me@claytonjroberts.com"
               class="email">
                <h2><span class="name-around">me @</span> <span class="name">Clayton J Roberts</span> <span class="name-around">. com</span></h2>
            </a>
            <div class="location">
                San Jose, California, U.S.
            </div>
        </header>

        <div class="main-wrapper">
            <nav class="main-side">
                <div class="main-side-content">
                    <div class="list-group">
                        {% for x in ["me", "experience", "tools"] %}
                        <a class="list-group-item list-group-item-action"
                           href="#"
                           v-scroll-to="'.{{x}}'">{{ x.title() }}

                        </a>
                        {% end for %}
                    </div>
                </div>
            </nav>

            <main class="main-inner container">


                <section class="me">
                    <img class="me-picture"
                         src="{{  static_url( "src/images/me.jpg") }}"></img>
                    {# <div class="me-line"></div> #}
                    <div class="me-about">

                        <div class="me-about-item">
                            Re-imagination
                        </div>
                        <div class="me-about-item">
                            Selfless leadership
                        </div>
                        <div class="me-about-item">
                            Challenge-driven
                        </div>

                        <br />

                        <div class="me-about-principle">
                            Honesty
                        </div>
                        <div class="me-about-principle">
                            Determination
                        </div>
                        <div class="me-about-principle">
                            Open-Mindedness
                        </div>

                    </div>

                </section>



                <section class="experience">
                    <div class="experience-item"
                         v-for="item in experience">
                        <h3 class="experience-title">{{! item.title}}</h3>
                        <div class="experience-subheader">
                            <span class="experience-company">{{! item.company }}</span> <span class="experience-location">{{! item.location }}</span> <span class="experience-timeline">{{! item.timeline }}</span>
                        </div>
                        <p class="experience-description">
                            {{! item.description }}
                        </p>
                        <p class="experience-challenge">
                            {{! item.challenges }}
                        </p>
                    </div>


                </section>


                <section class="tools">
                    {# <div class="tool-list d-flex flex-wrap"> #}
                        <div class="row">
                            <tool v-for="tooldict in tools"
                                  :tooldict="tooldict"
                                  inline-template>
                                <div class="tool col-6">
                                    <span class="tool-icon">
                                        <i :class="tooldict['icon']"></i>
                                    </span>
                                    <span class="tool-name">{{! tooldict.name }}</span>
                                    <span class="tool-exp">{{! tooldict['exp']}}</span>
                                    <span v-if="tooldict['stars']">
                                        <span v-for="i in _.range(_.floor(tooldict['stars']))"><i class="fas fa-star"></i>
                                        </span><span v-if="_.floor(tooldict['stars']) < tooldict['stars']">
                                            <i class="fas fa-star-half-alt"></i>
                                        </span><span v-for="i in _.range(5 - _.ceil(tooldict['stars']))">
                                            <i class="far fa-star"></i>
                                        </span>

                                    </span>
                                </div>
                            </tool>
                        </div>

                </section>




            </main>
        </div>

        {% module UI_Footer() %}


    </div>





</body>

<script>
    Vue.component('tool', {
        template: "#tool",
        props: [
            "tooldict",
        ],
        data: function() {
            return {}
        },
        computed: {},
        methods: {},
    });

    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                message1: 'Hello Vue!',
                experience: [{
                        title: "Data Science Analyst",
                        company: "Cisco",
                        location: "San Jose, CA",
                        timeline: "June 2018 - Present",
                        description: "Sole-creator of Full-fledged web application featuring: Product classification via machine learning for direct fulfillment sites, Quarterly demand forecasting baseline tool, Holistic network optimization and scenario tool, and Logistics lane rate normalization and standardization.",
                        challenges: "Challenges show themselves as root-cause problem solving, process discovery, as well as correct definition of objectives.",

                    }, {
                        title: "Factory Optimization",
                        company: "Georgia Tech Capstone (Cisco)",
                        location: "Atlanta, GA",
                        timeline: "August 2017 - April 2018",
                        description: "Optimization of manufacturing facility in terms of machine asset cost. Lead designer in data transformation and generation tools. Optimization model co-designer.",
                        challenges: "The challenge within this project was fully understanding the problem and inventing a relevant and applicable solution.",

                    },
                    {
                        title: "Mobile and Web Software Consultant",
                        company: "StartBox Medical",
                        location: "Atlanta, GA",
                        timeline: "July 2017 - February 2018",
                        description: "Feature integration and medical mobile application streamlining. Solo development focused. API development and documentation.",
                        challenges: "With control of how features are implemented, creativity and coding strategy provided the most significant and rewarding challenge."
                    },
                    {
                        title: "President",
                        company: "WaveWise Technical Solutions",
                        location: "Cumming, GA",
                        timeline: "May 2017 - Present",
                        description: "Wide range and scope of various projects usually weighty in Python and relevant supporting libraries. Projects entail API creation, library creation, data analysis and management, game logic and deep database design.",
                        challenges: "Challenges here usually form under the guise of variability with unique problems and distinctive solutions."
                    },
                    {
                        title: "Web Application Consultant",
                        company: "RHA Health Services",
                        location: "Atlanta, GA",
                        timeline: "May - August, 2016",
                        description: "Development of maintenance of large scale web application heavy in C#,Entity Framework, JavaScript, and Vue. Lead creation of government standardized form printing project that cut operating expense by two-thirds.",
                        challenges: "This was a challenge due to the scale of the web application, and the number of dependencies involved with each system."
                    }
                ],

                tools: [{
                        name: "Python",
                        icon: "fab fa-python",
                        exp: "5 years",
                        stars: 5
                    },
                    {
                        name: "Pandas (Python)",
                        icon: "fab fa-python",
                        exp: "2 years",
                        stars: 3
                    },
                    {
                        name: "Tornado (Python)",
                        icon: "fab fa-python",
                        exp: "3 years",
                        stars: 3.5
                    },
                    {
                        name: "SQLAlchemy (Python)",
                        icon: "fab fa-python",
                        exp: "4 years",
                        stars: 4.5
                    },
                    {
                        name: "Sci-Kit Learn (Python)",
                        icon: "fab fa-python",
                        exp: "1 year",
                        stars: 2.5
                    },
                    {
                        name: "HTML",
                        icon: "fab fa-html5",
                        exp: "6 years",
                        stars: 4
                    },
                    {
                        name: "CSS",
                        icon: "fab fa-css3-alt",
                        exp: "2 years",
                        stars: 3.5
                    },
                    {
                        name: "SCSS (Sass)",
                        icon: "fab fa-sass",
                        exp: "1 year",
                        stars: 3
                    },
                    {
                        name: "Vue",
                        icon: "fab fa-vuejs",
                        exp: "1 year",
                        stars: 3

                    },
                    {
                        name: "Vuex",
                        icon: "fab fa-vuejs",
                        exp: "\u00BD year",
                        stars: 2,

                    },
                    {
                        name: "Angular",
                        icon: "fab fa-angular",
                        exp: "\u00BD years",
                        stars: 1.5

                    },
                    {
                        name: "Office",
                        icon: "fab fa-microsoft",
                        exp: "Many years",
                        stars: 5
                    },
                    {
                        name: "Postgres",
                        icon: "fas fa-database",
                        exp: "1 \u00BD years",
                        stars: 4,
                    },
                    {
                        name: "Swift",
                        icon: "fab fa-app-store",
                        exp: "\u00BD years",
                        stars: 1.5,
                    },
                    {
                        name: "Markdown",
                        icon: "fab fa-markdown",
                        exp: "1 year",
                        stars: 4.5,
                    },
                    {
                        name: "JavaScript",
                        icon: "fab fa-js-square",
                        exp: "3 years",
                        stars: 3
                    },
                    {
                        name: "npm",
                        icon: "fab fa-npm",
                        exp: "\u00BD years",
                        stars: 1.5
                    },
                    {
                        name: "Leadership",
                        icon: "fas fa-chalkboard-teacher",
                        exp: "2 years",
                        stars: 3.5,
                    },
                    {
                        name: "Writing",
                        icon: "fas fa-pencil-alt",
                        exp: "many years",
                        stars: 4,
                    },

                ],
                skills: {

                    "Python": "Clayton is very skilled in Python, having worked with it for over 4 years"
                },
                links: {
                    "LinkedIn": {
                        icon: "fab fa-lg fa-linkedin",
                        "url": "http://www.linkedin.com/in/claytonjroberts"
                    },
                    "GitHub": {
                        icon: "fab  fa-lg fa-github-square",
                        "url": "http://github.com/ClaymasterJ"
                    }
                }
            }
        }
    })

</script>



</html>
