<html>

{% module UI_Head() %}

{% import personal.web %}
{% import personal.web.handlers as WH %}

<body>
    {# {% module UI_Navbar() %} #}
    <div class="body"
         id="app">

        <header>
            hello
        </header>

        <main>
            Heloo
            <div>
                <div class="links">
                    {% for linkdict in handler.application.info["info"]["links"] %}
                    <span>
                        <a class="text-secondary"
                           href="{{ linkdict['url'] }}"><i class="{{ linkdict['icon'] }}"></i>
                        </a>
                    </span>
                    {% end for %}

                </div class="links">
            </div>
        </main>

        <footer>
            {# <div class="links">
                <h4 class="links-list">
                    {% for linkdict in handler.application.info["info"]["links"] %}
                    <span class="link">
                        <a class="text-secondary"
                           :href="{{ linkdict['url'] }}"><i :class="{{ linkdict['url'] }}"></i>
                        </a>
                    </span>
                </h4>
            </div> #}
            <!-- <h1>Contact</h1> -->

            <div class="made-with"><i class="fas fa-hammer"></i> with <span class="text-secondary"><i class="fas fa-heart"></i></span> by <a href="https://github.com/ClaymasterJ"
                   class="text-tertiary">ClaymasterJ</a>
                <br />
                <small>This website is still under development due to career obligations</small>
            </div>
        </footer>




    </div>




</body>





</html>
