.splash {
    width           : 100%;
    margin          : 1rem 0 0;
    // text-shadow:
    color           : theme-color('splash-text');
    border-style    : solid none solid none;
    border-color    : theme-color('primary');
    // height          : 100%;
    background-color: theme-color('splash');
    // box-shadow      : inset 0 0 1rem 0 theme-color("primary");
    .name {
        transition : text-shadow 0.3s;
        color      : theme-color('splash-text');
        text-shadow: none;
    }

    .name-around {
        color: theme-color('dark');
    }

    .name:hover {
        text-shadow: 2px 2px theme-color('splash-text-darker');
    }

    .email {
        padding: 1.5rem;
    }

    .location {
        position: absolute;
        right   : 1rem;
    }

    .iniitals {
        font-style: italic;
        position  : absolute;
        left      : 1rem;
        color     : theme-color('dark');
    }

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
    /* The animation code */
    @keyframes example {
        0% {
            width: 0;
        }

        75% {
            width: 100%;
        }

        100% {
            text-shadow: 5rem;
        }
    }
    /* The element to apply the animation to */
    // div {
    //     width             : 100px;
    //     height            : 100px;
    //     position          : relative;
    //     background-color  : red;
    //     animation-name    : example;
    //     animation-duration: 4s;
    // }
    a {
        &:hover {
            text-decoration: none;
        }

        &::after {
            display   : block;
            width     : 0;
            height    : 2px;
            content   : '';
            transition: width 0.3s ease-in-out;
            background: theme-color('primary');
            // animation-name    : example;
            // animation-duration: 4s;
        }

        &:hover::after {
            width: 100%;
            //transition: width .3s;
        }
    }
}